<h2 class="text-center mb-5">E-Voting</h2>
<ul class="nav nav-fill">
  <a id="login" class="nav-item" routerLink="/login">Login</a>
  <a id="register" class="nav-item" routerLink="/register">Sign-up</a>
  <a id="changePasswordB" class="nav-item" routerLink="/change-password">Password</a>
  <a id= "resetPasswordB" class="nav-item" routerLink="/reset-password">Reset</a>
  <a id= "vote" class="nav-item" routerLink="/vote-form">Vote</a>

  <!--    <a class="nav-item" href="#formPayment">Payment</a>
      <a class="nav-item" href="#formUserEdit">User</a>
      <a class="nav-item" href="#formContact">Contact</a>
      <a class="nav-item" href="#formComplex">Complex</a>
      -->
</ul>

<router-outlet></router-outlet>
