<div class="col-md-6 offset-md-3" id="registerForm" >
  <span class="anchor" id="formRegister"></span>
  <hr class="mb-5">

  <!-- form card register -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Sign Up</h3>
    </div>
    <div class="card-body">
      <form class="form" role="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Full name" formControlName="fullName">
        </div>
        <div class="form-group">
          <label for="inputEmail3">Email</label>
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required="" formControlName="email">
        </div>
        <div class="form-group">
          <label for="inputPassword3">Password</label>
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" required="" formControlName="password">
        </div>
        <div class="form-group">
          <label for="inputVerify3">Verify</label>
          <input type="password" class="form-control" id="inputVerify3" placeholder="Password (again)" required="" formControlName="verifyPassword">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /form card register -->

</div>
