<div class="col-md-6 offset-md-3" id="loginForm">
  <span class="anchor" id="formLogin"></span>
  <hr class="mb-5">
  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary" id="loginForm">
    <div class="card-header">
      <h3 class="mb-0">Login</h3>
    </div>
    <div class="card-body">
      <form class="form" role="form" [formGroup]="form" (ngSubmit)="submit()" novalidate="">
        <div class="form-group">
          <label for="uname1">Username</label>
          <input type="text" class="form-control" name="uname1" id="uname1" required="" formControlName="username">
          <div class="invalid-feedback">Please enter your username or email</div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="pwd1" required="" autocomplete="new-password" formControlName="password">
          <div class="invalid-feedback">Please enter a password</div>
        </div>
        <div class="form-check small">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="rememberMe"> <span>Remember me on this computer</span>
          </label>
        </div>
        <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
      </form>
    </div>
    <!--/card-body-->
  </div>
  <!-- /form card login -->

</div>
